################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bee_data_site/config
/.vs/bee_data_site/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
