@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}



.header {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

/* Vis specific classes */
#states > .state.selected {
    stroke-width: 2px;
    stroke: black;
    stroke-opacity: 1;
}

#states > .state {
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: 0.1;
}
